.jobsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 15px;
}

.slider {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  width: 100%;


}

.slide {

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 100%;


}

.jobCard {
  display: flex;
  flex: 1;
  max-width: 200px;
  height: auto;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 0 5px;
  transition: transform 0.3s;
}

.jobCard:hover {
  transform: scale(1.05);
  color: black;
}

.jobCard p {
  width: 100%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold;
  
}

.jobCard small {
 align-self: flex-start;
  font-size: 12px;

}

.locateIcon {
  display: flex;
  align-self: flex-start;
  color: #888;
}

.locateIcon>small {
  height: 20px;
  overflow: hidden;

}

.prevbtn,
.nextbtn {
  background: none;
  border: none;
  font-size: 2em;
  padding: 0 16px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.prevbtn {
  left: 0;
}

.nextbtn {
  right: 0;
}

.prevbtn:hover,
.nextbtn:hover {
  color: #555;


}

@media (max-width: 768px) {
  .jobCard {
    width: 150px;
    padding: 8px;
  }

  .prevbtn,
  .nextbtn {
    font-size: 1.5em;
  }
}