.profile-drawer {
  width: 400px;
}

.profile-avatar {
  width: 90px !important;
  height: 90px !important;
  margin: 20px 20px;
}

.list-item-text-primary {
  font-weight: bold;

}

.list-item-text-secondary {
  font-size: 0.8rem;
  color: #777;
}


.centered-list-item-text {
  text-align: center;
  color: #007bff;
  font-size: 18px;

}